*{
	margin: 0;
	padding: 0;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{
	--primary-color: rgba(248, 75, 12, 0.945);
	--secondary-color: rgb(250, 216, 22);
	--tetiary-color: rgb(250, 244, 239);
	--accent-color: rgba(211, 211, 211, 0.712);
}

body{
	background-color: var(--tetiary-color);
	overflow-x: hidden;
}

.head-text{
	color: var(--primary-color);
	text-align: center;
	margin-top: 20px;
}

h1,h2,h3,h4,h5,h6{
	font-family: Arial, Helvetica, sans-serif;
}

.form-input, .form-input-signup{
	min-height: 100vh;
	min-width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;

}

.input-div-card{
	background-color: rgba(255, 255, 255, 0.541);
	min-height: 50vh;
	min-width: 80vw;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 15px;
	outline-offset: 5px;
	box-shadow: 10px 14px 20px rgba(128, 128, 128, 0.062), -10px -14px 20px rgba(128, 128, 128, 0.151);
}

.user-name-div, .user-email-div, .submit-btn-div,.user-password-div{

	padding-left: 10px;
}

.user-name-html, .user-email-html, .submit-btn-html, .user-password-html{

	padding: 8px;
	width: 95%;
	border-radius: 4px;
	outline: none;
	border: none;
	background-color: rgba(253, 183, 6, 0.164);
margin-bottom: 7px;
}

.user-name-html:focus, .user-email-html:focus,.user-password-html:focus{

	outline: 2px solid var(--secondary-color);
}

.submit-btn-div{

	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.submit-btn-html{
	background-color: var(--primary-color);
	color: white;
	font-size: 14px;
	font-weight: 600;
	border: none;
}

small{
	text-align: center;
	width: 100%;
	display: block;
	margin-top: 5px;
	color: var(--secondary-color);
	padding-left: 10px;
	padding-top: 20px;
}
.sign-up-text{

	color: var(--primary-color);
}

.form-input-signup{
	display: none;
}

@media(min-width: 768px) {


  .user-name-html, .user-email-html, .submit-btn-html, .user-password-html{

width: 80%;

}

}